{% extends 'templates/base.html' %}
{% load static %}

{% block content %}

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4" >About IPSSM</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index">Home</a></li>
            <li class="breadcrumb-item"><a href="#">About Us</a></li>
            <li class="breadcrumb-item active" aria-current="page">About IPSSM</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Choose Success : Discover the Advantages of Studying at IPSSM</h1>
            <p class="mb-4">
            Our institute provides a unique blend of industry-driven education, practical experience, and state-of-the-art facilities that prepare students for leadership roles in the dynamic world of port, shipping, and supply chain management. Join us and gain a competitive edge in the global market
            </p>
            <div class="row g-3">
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Industrial.png' %}"
                      alt="Industry-Relevant Education"
                    />
                    <h5 class="mb-0">Industry-Relevant Education</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Industrial.png' %}"
                      alt="Practical Experience"
                    />
                    <h5 class="mb-0">Practical Experience</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM State of ART.png' %}"
                      alt="State-of-the-Art Facilities"
                    />
                    <h5 class="mb-0">State-of-the-Art Facilities</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Placements.png' %}"
                      alt="Placement Partners"
                    />
                    <h5 class="mb-0">Placement Partners</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div
              class="position-relative rounded overflow-hidden h-100"
              style="min-height: 400px"
            >
              <img
                class="position-absolute w-100 h-100"
                src="{% static 'img\images\IPSSM About US Section.jpg' %}"
                alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Visit"
                style="object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->
  <div class="container  wow fadeInUp" data-wow-delay="0.5s">
    <p class="mb-4" style="margin-left: 50px; margin-right: 50px; text-align: justify; font-size: large;">
        At Srinivas University's Institute of Port Shipping and Supply Chain Management, we prepare our students for challenging and rewarding careers in the dynamic world of maritime business. Our industry-focused curriculum and state-of-the-art facilities provide students with hands-on learning experiences that are essential to succeed in this exciting field. As a constituent of Srinivas University, our institute offers a world-class education that opens the door to career opportunities both in India and abroad.<br><br>With our partnerships with New Mangalore Port Authority and Mormugao Port Authority, our students have access to internships, training, and placement opportunities that give them a competitive edge in the job market. Join us and become a leader in the port, shipping, and supply chain management industry!"
    </p><hr>
  </div>
  <div class="container  wow fadeInUp" data-wow-delay="0.5s">
    <h1 class="display-6 mb-5" style="margin-left: 50px;">About Port, Shipping Management & Logistics</h1>
    <p class="mb-4" style="margin-left: 50px; margin-right: 50px; text-align: justify; font-size: large;">
        Unlock the limitless potential of Port and Shipping Management with our BBA and MBA programs at Srinivas University, Institute of Port Shipping and Supply Chain Management. Our curriculum empowers graduates with the knowledge and skills to tackle the challenges of global trade and commerce. With our state-of-the-art facilities and partnerships with major ports, we provide our students with unmatched opportunities for real-world experience and career development. Join us today and unleash your creativity and inventiveness in this dynamic field!
    </p><hr>
  </div>
  <div class="container  wow fadeInUp" data-wow-delay="0.5s">
    <h1 class="display-6 mb-5" style="margin-left: 50px;">About Logistics and Supply Chain Management</h1>
    <p class="mb-4" style="margin-left: 50px; margin-right: 50px; text-align: justify; font-size: large;">
        Supply chain management has revolutionized the traditional approach to purchasing and logistics. Our program at Srinivas University offers a comprehensive understanding of this vital industry, from raw materials to final products, and how to effectively manage every step along the way. With a focus on port and shipping operations, our step-by-step approach will prepare you for successful careers in the global market. Join us at Srinivas University, located in the heart of the city, and expand your knowledge and career opportunities.
    </p>
  </div>



  <div style="background-color:white;  wow fadeInUp"  data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 mt-2">
                <div class="position-relative overflow-hidden rounded ps-3 pt-5 h-100" style="min-height: 300px">
                    <img  style=" height:350px;  border-radius: 100%;" src="{% static 'SONIA MAAM.png' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|About" >
                </div>
            </div>
            <div class="col-md-8 col-12 mt-2">
                <div class="h-75">
                    <h1 class="display-6 mb-5">
                        Dr Sonia Noronha
                        <br>
                        <p style="font-size: large; margin-top: 5px;">Dean IPSSM</p>
                    </h1>
                    <p class="fs-6 text-black mb-4">
                        As dean of the College, I am extremely proud of the rich tradition of providing practical, experiential-based business education that our college has upheld since its founding. Our undergraduate and postgraduate business programs prepare our students to become leaders with the moral depth and intellectual intensity necessary to meet the challenges of a time of critical transition in society.
                    </p>
                    <div class="row g-4 mb-4">
                        <p class="fs-6 text-black mb-4">
Located in an economic and cultural hub, the University offers unique opportunities for our students to engage with companies and communities.
The Experience has not only benefited the business community, but has provided the perfect opportunity for our students to begin putting their education into action.
I invite all of you who are interested in expanding your knowledge and enriching your careers to explore our school further either online or through a visit to campus. I hope that you will join our community of life-long learners.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}