{% extends 'templates/base.html' %}
{% load static %}

{% block content %}

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">BBA - Port Shipping Management and Logistics</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">BBA - Port Shipping Management and Logistics</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Exploring the Comprehensive Course OverVeiw</h1>
            <p class="mb-4">
                The BBA in Port Shipping Management and Logistics program focuses on developing students' skills and knowledge in areas such as port operations, shipping management, logistics, supply chain management, and international trade, preparing them for a challenging and exciting career in the industry.
            </p>
            <div class="row g-3">
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\courses\BBA Port\1.png' %}" height="100"
                      alt="4 years / 8 Semesters"
                    />
                    <h5 class="mb-0">Duration</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\courses\BBA Port\2.png' %}" height="100"
                      alt="10+2 with min.50% marks"
                    />
                    <h5 class="mb-0">Eligiblity</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\courses\BBA Port\3.png' %}" height="100"
                      alt="valid score"
                    />
                    <h5 class="mb-0">SUAT Score</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\courses\BBA Port\4.png' %}" height="100"
                      alt="100% Guarantee"
                    />
                    <h5 class="mb-0">Placements</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div
              class="position-relative rounded overflow-hidden h-100"
              style="min-height: 400px"
            >
              <img
                class="position-absolute w-100 h-100"
                src="https://i.ibb.co/FsTN3VL/Whats-App-Image-2023-06-08-at-16-32-01.jpg"
                alt=""
                style="object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="">
    <div class="container wow fadeInUp" data-wow-delay="0.1s">
      <h1 class="display-6 mb-5" style="margin-left: 20px; margin-right: 20px;">Unique Features of Course</h1>
      <ul style="margin-left: 20px; font-weight: bold; font-size: large;">
          <li>Classes will be held between 9.00 am to 2.00 pm with half an hour break during week days.</li>
          <li>E-Study material will be provided from the college for every subject according to the syllabus.</li>
          <li>Industry oriented syllabus with special focus on experimental learning& skill enhancement.</li>
          <li>Hands on live projects in each semester.</li>
          <li>Focus on experiential learning.</li>
          <li>Focus on experiential learning.</li>
          <li>Innovations in examination system with opportunity for personal seeing of evaluated papers.</li>
          <li>50% weight age of marks on continuous evaluation and 50% weight age on semester end exam.</li>
          <li>Make-up exams in every semester to avoid year loss.</li>
          <li>Opportunity to take Marketing/Finance Specialization.</li>
          <li>Placement support and research – oriented projects for every student.</li>
          <li>Opportunity to visit various industries business organizations.</li>
          <li>Separate Hostel &Transport facility for boys & Girls.</li>
          <li>Further Opportunity to do MBA, M.Com. &Ph.D. Programmes.</li>
          <li>Earn while Learn Opportunity in Retail/BPO/Software companies during evening time.</li>
      </ul>
    </div>
<br>
<div class="container wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="display-6 mb-5" style="margin-left: 20px; margin-right: 20px;">Career Opportunities :</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\1.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Customer Care Executive" style="height: 250px; width: 250px; margin-left: 20px;">

        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\2.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Logistics Analyst/Consultant" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\3.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Supply chain Consultant" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\4.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Vehicle Fleet Executive" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top: 20px;">
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\5.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Inventory Control Executive" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\6.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Purchase Executive" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\7.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Import & Export Agent" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'img\courses\BBA Port\career\8.png' %}" class="card-img-top wow fadeIn" data-wow-delay="0.3s" alt="Freight Coordinator" style="height: 250px; width: 250px; margin-left: 20px;">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="display-6 mb-3" style="margin-left: 20px; margin-right: 20px;">Fee Structure :</h1>
    <table class="table">
      <thead class="thead-dark" style="color: black; font-size: large;">
        <tr>
          <th scope="col">Slno</th>
          <th scope="col">Course</th>
          <th scope="col">Karnataka</th>
          <th scope="col">Non - Karnataka</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>BBA - Port Shipping Management and Logistics</td>
          <td>₹ 2,11,000</td>
          <td>₹ 3,34,000</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>BBA - Logistics and Supply Chain Management</td>
          <td>₹ 2,11,000</td>
          <td>₹ 3,34,000</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>MBA - Logistics and Supply Chain Management </td>
          <td>₹ 3,05,500</td>
          <td>₹ 4,25,500</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    {% endblock %}