{% extends 'templates/base.html' %}
{% load static %}

{% block content %}

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">Event</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Event
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px">
          <h1 class="display-6 mb-5">Events and News</h1>
        </div>


        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for events in event %}

          <div class="col">
            <div class="card">
              <a href="events/{{events.slug}}">
                <img src="{{events.img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{events.title}}</h5>
                  <p class="card-text">{{events.shortdis}}</p>
                </div>
              </a>
              <div class="card-footer">
                <p class="card-text">{{events.date}}</p>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

        <script>
          $(document).on("click", '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
        </script>

      </div>
    </div>
    <!-- Team End -->


 {% endblock %}