{% extends 'templates/base.html' %}
{% load static %}

{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="w-100" height="800px" src="{% static 'img\carousel\IPSSM Hero 2.jpg' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <h1 class="display-3 text-dark mb-4 animated slideInDown">
                      Discover Your Pathway to Success<br> in the Shipping Industry
                    </h1>
                    <a href="#apply-now" class="btn btn-primary py-3 px-5"
                      >Apply Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <img class="w-100" height="800px" src="{% static 'img\carousel\IPSSM Hero.png' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                </div>
              </div>
            </div>
          </div>
        <div class="carousel-item ">
            <img class="w-100" height="800px" src="{% static '2 (1).jpg' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="w-100" height="800px" src="{% static '3 (1).jpg' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="w-100" height="800px" src="{% static '4 (1).jpg' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="w-100" height="800px" src="{% static '5 (1).jpg' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item ">
            <img class="w-100" height="800px" src="{% static '6 (1).jpg' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Banner" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row">
                </div>
              </div>
            </div>
        </div>

        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Carousel End -->



    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div
              class="position-relative overflow-hidden rounded ps-5 pt-5 h-100"
              style="min-height: 400px"
            >
              <img
                class="position-absolute w-100 h-100"
                src="{% static 'IPSSM_PORT.jpg' %}"
                alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|About"
                style="object-fit: cover"
              />
              <div
                class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3"
                style="width: 200px; height: 200px"
              >
                <div
                  class="d-flex flex-column justify-content-center text-center bg-primary rounded h-100 p-3"
                >
                  <h1 class="text-white mb-0">Port </h1>
                  <h2 class="text-white">Potential</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
              <h1 class="display-6 mb-5">
                Set sail towards a successful maritime career with us
              </h1>
              <p class="fs-5 text-primary mb-4">
                Srinivas University Institute of Port, Shipping and Supply Chain Management offers industry-oriented education to empower future leaders in the maritime sector.
              </p>
              <div class="row g-4 mb-4">
                <p class="fs-5 text-primary mb-4">
                  Join us and gain the skills to navigate towards a fulfilling career in the dynamic world of port, shipping and supply chain management.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Facts Start -->
    <!--<div class="container-fluid overflow-hidden my-5 px-lg-0">-->
    <!--  <div class="container facts px-lg-0">-->
    <!--    <div class="row g-0 mx-lg-0">-->
    <!--      <div class="col-lg-6 facts-text wow fadeIn" data-wow-delay="0.1s">-->
    <!--        <div class="h-100 px-4 ps-lg-0">-->
    <!--          <h1 class="text-white mb-4">For Individuals And Organisations</h1>-->
    <!--          <p class="text-light mb-5">-->
    <!--            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.-->
    <!--            Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,-->
    <!--            sed stet lorem sit clita duo justo magna dolore erat amet-->
    <!--          </p>-->
    <!--          <a href="" class="align-self-start btn btn-secondary py-3 px-5"-->
    <!--            >More Details</a-->
    <!--          >-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-lg-6 facts-counter wow fadeIn" data-wow-delay="0.5s">-->
    <!--        <div class="h-100 px-4 pe-lg-0">-->
    <!--          <div class="row g-5">-->
    <!--            <div class="col-sm-6">-->
    <!--              <h1 class="display-5" data-toggle="counter-up">1234</h1>-->
    <!--              <p class="fs-5 text-primary">Happy Clients</p>-->
    <!--            </div>-->
    <!--            <div class="col-sm-6">-->
    <!--              <h1 class="display-5" data-toggle="counter-up">1234</h1>-->
    <!--              <p class="fs-5 text-primary">Projects Succeed</p>-->
    <!--            </div>-->
    <!--            <div class="col-sm-6">-->
    <!--              <h1 class="display-5" data-toggle="counter-up">1234</h1>-->
    <!--              <p class="fs-5 text-primary">Awards Achieved</p>-->
    <!--            </div>-->
    <!--            <div class="col-sm-6">-->
    <!--              <h1 class="display-5" data-toggle="counter-up">1234</h1>-->
    <!--              <p class="fs-5 text-primary">Team Members</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!-- Facts End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-6 mb-5">Discover Why We Are the Top Choice for Future Leaders in the Maritime Industry</h1>
            <p class="mb-4">
            Choose us for industry-relevant education, expert faculty, and practical learning.
            </p>
            <div class="row g-3">
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Global Exposure.png' %}"
                      alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Global Exposure Icon"
                    />
                    <h5 class="mb-0">Global Exposure</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Placements.png' %}"
                      alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Placements Icon"
                    />
                    <h5 class="mb-0">Placement Assistance</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Expert Faculty.png' %}"
                      alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Expert Faculty Icon"
                    />
                    <h5 class="mb-0">Expert Faculty</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="bg-light rounded h-100 p-3">
                  <div
                    class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                  >
                    <img
                      class="align-self-center mb-3"
                      src="{% static 'img\icon\IPSSM Facilities.png' %}"
                      alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Facilities Icon"
                    />
                    <h5 class="mb-0">Cutting-edge facilities</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div
              class="position-relative rounded overflow-hidden h-100"
              style="min-height: 400px"
            >
              <img
                class="position-absolute w-100 h-100"
                src="{% static 'BTS_9061 (1).jpg' %}"
                alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Why Choose us"
                style="object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->
    <!--<div class=" py-5" style="background-color:#1A6FCE; height: 580px;">-->
    <!--  <div class="container">-->
    <!--    <div class="row g-5">-->
    <!--      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">-->
    <!--        <div class="position-relative overflow-hidden rounded ps-5 pt-5 h-100" style="min-height: 300px">-->
    <!--          <img class=" w-100 h-75 " style="border-radius: 100%;" src="{% static 'Dr. CA A. Raghavendra Rao.png' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|About" >-->

    <!--          <div class="position-absolute top-0 start-0  pe-3 pb-3" style="width: 200px; height: 200px">-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">-->
    <!--        <div class="h-75">-->
    <!--          <h1 class="display-6 mb-5">-->
    <!--            Dr. CA A. Raghavendra Rao-->
    <!--            <br>-->
    <!--              <p style="font-size: large; margin-top: 5px;">Chancellor and Founder</p>-->
    <!--          </h1>-->
    <!--          <p class="fs-6 text-white mb-4">-->
    <!--            The hard work of 32 years has borne fruit. It is indeed an honour and a great moment in time for me to be at the helm of affairs as the Srinivas University takes shape. The nation is peaking towards phenomenal growth and time couldn’t be better for all of us; including the final stakeholders i.e. students learning diverse disciplines such as Medicine, Dentistry, Nursing, Engineering, Management, Pharmacy, Para Medical Sciences, etc. in the numerous constituent colleges and I’m certain, that with proper guidance and motivation, this sparkling energy can be channelised for the utilization of building the nation.We have made giant strides in the recent past and are proud to say that more than 35,000 alumni have passed through the portals of our temples of learning.-->
    <!--          </p>-->
    <!--          <div class="row g-4 mb-4">-->
    <!--            <p class="fs-6 text-white mb-4">-->
    <!--              Our university offers 160 programs to over 5000 students, focusing on critical thinking, innovation, and professional skills while instilling high ethics and social conduct. Our graduates are highly valued by employers and have achieved success both nationally and internationally. We welcome new students to join us in upholding our commitment to delivering quality education and fulfilling our social mission.-->
    <!--            </p>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->


<div style="background-color:#1A6FCE;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 mt-2">
                <div class="position-relative overflow-hidden rounded ps-3 pt-5 h-100" style="min-height: 300px">
                    <img  style=" height:350px;  border-radius: 100%;" src="{% static 'Dr. CA A. Raghavendra Rao.png' %}" alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|About" >
                </div>
            </div>
            <div class="col-md-8 col-12 mt-2">
                <div class="h-75">
                    <h1 class="display-6 mb-5">
                        Dr. CA A. Raghavendra Rao
                        <br>
                        <p style="font-size: large; margin-top: 5px;">Chancellor and Founder</p>
                    </h1>
                    <p class="fs-6 text-white 4">
                        The hard work of 32 years has borne fruit. It is indeed an honour and a great moment in time for me to be at the helm of affairs as the Srinivas University takes shape. The nation is peaking towards phenomenal growth and time couldn’t be better for all of us; including the final stakeholders i.e. students learning diverse disciplines such as Medicine, Dentistry, Nursing, Engineering, Management, Pharmacy, Para Medical Sciences, etc. in the numerous constituent colleges and I’m certain, that with proper guidance and motivation, this sparkling energy can be channelised for the utilization of building the nation.We have made giant strides in the recent past and are proud to say that more than 35,000 alumni have passed through the portals of our temples of learning.
                    </p>
                    <div class="row g-4 mb-4">
                        <p class="fs-6 text-white mb-4">
                        Our university offers 160 programs to over 5000 students, focusing on critical thinking, innovation, and professional skills while instilling high ethics and social conduct. Our graduates are highly valued by employers and have achieved success both nationally and internationally. We welcome new students to join us in upholding our commitment to delivering quality education and fulfilling our social mission.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center mx-auto" style="max-width: 700px">
          <h1 class="display-6 mb-5">
            Navigating Your Path to Success: Explore Our Comprehensive Course Offerings
          </h1>
        </div>
        <div class="row g-4 justify-content-center">
          <div class="col-lg-4 col-md-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img\icon\courses\IPSSM - BBA - Port Shipping Management and Logistics.png' %}"
                    alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|BBA - Port Shipping Management and Logistics|Icon"
                  />
                </div>
                <h4 class="mb-0">BBA - Port Shipping Management and Logistics</h4>
              </div>
              <p class="mb-4">
                Prepare for leadership in the maritime industry with our comprehensive BBA program in Port Shipping and Logistics.
              </p>
              <a class="btn btn-light px-3" href="BBA-Port-Shipping-Management-&-Logistics">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img\icon\courses\BBA - Logistics and Supply Chain Management.png' %}"
                    alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|BBA - Logistics and Supply Chain Management|Icon"
                  />
                </div>
                <h4 class="mb-0">BBA - Logistics and Supply Chain Management</h4>
              </div>
              <p class="mb-4">
                Lead in business with our BBA in Logistics & Supply Chain Management, featuring a strong foundation.
              </p>
              <a class="btn btn-light px-3" href="BBA-Logistics-&-Supply-Chain-Management">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded h-100 p-5">
              <div class="d-flex align-items-center ms-n5 mb-4">
                <div
                  class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img\icon\courses\BBA - Logistics and Supply Chain Management.png' %}"
                    alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|MBA - Logistics and Supply Chain Management|Icon"
                  />
                </div>
                <h4 class="mb-0">MBA - Logistics and Supply chain Management</h4>
              </div>
              <p class="mb-4">
                Lead in business with our MBA in Logistics & Supply Chain Management, featuring a strong foundation.
              </p>
              <a class="btn btn-light px-3" href="MBA-Logistics-&-Supply-chain-Management">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Appointment Start -->
    <div
      class="container-fluid appointment my-5 py-5 wow fadeIn"
      data-wow-delay="0.1s" id="apply-now"
    >
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
            <h1 class="display-6 text-white mb-5">
              Accelerate Your Career Growth: Choose Our Premier Institute !!
            </h1>
            <p class="text-white mb-5">
              Our institute offers industry-relevant education and practical experience to equip students for leadership roles in the dynamic world of port, shipping, and supply chain management.
            </p>
            <div class="bg-white rounded p-3">
              <div class="d-flex align-items-center bg-primary rounded p-3">
                <img
                  class="flex-shrink-0 rounded-circle me-3"
                  src="{% static 'img\images\IPSSM Admission.png' %}"
                  alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|Admission|Icon"
                />
                <h5 class="text-white mb-0">Call Us: +91 7026436197</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-white rounded p-5">

              <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-sm-6">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Gurdian Name"
                      />
                      <label for="gname">Your Name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        id="gmail"
                        name="gmail"
                        placeholder="Gurdian Email"
                      />
                      <label for="gmail">Your Email</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="mobile"
                        name="mobile"
                        placeholder="Child Name"
                      />
                      <label for="mobile">Your Mobile</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="place"
                        name="place"
                        placeholder="Child Age"
                      />
                      <label for="place">Your Place</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <select class="form-select" name="Course" id ="course" aria-label="Default select example">
                        <option selected>Select Course</option>
                        <option value="BBA - Port Shipping Management and Logistics">BBA - Port Shipping Management and Logistics</option>
                        <option value="BBA - Logistics and Supply Chain Management">BBA - Logistics and Supply Chain Management</option>
                        <option value="MBA - Logistics and Supply Chain Management">MBA - Logistics and Supply Chain Management </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary py-3 px-5" type="submit">
                    Apply Now
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Appointment End -->


    <!-- Image Slider  -->

    <section class="mt-4 container ftco-animate">
      <div class="text-center mx-auto" style="max-width: 800px">
        <h1 class="display-6 mb-5">Connecting Future Leaders with Leading Companies: Our Placement Partners</h1>
      </div>
      <style>
        .carousel {
          overflow: hidden;
          width: 100%;
        }

        .carousel-container {
          display: flex;
          width: 400%; /* 4 images, each taking up 100% of the width */
          animation: scroll 20s infinite linear; /* scroll for 20 seconds and repeat infinitely */
          animation-delay: 2s; /* delay animation by 2 seconds for a more attractive effect */
        }

        .carousel-container img {
          height: 200px;
          width: 200px; /* each image takes up 1/4 of the container */
          margin-right: 20px; /* add space between the images */
          object-fit: cover; /* scale images to fit their containers */
          transition: transform 0.5s ease-out; /* add a smooth transition effect when images change */
        }

        .carousel-container img:last-of-type {
          margin-right: 0; /* remove right margin from last image */
        }
        .carousel-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0; /* hide the overlay by default */
          background-color: rgba(0, 0, 0, 0.5); /* add a semi-transparent background */
          transition: opacity 0.5s ease-out; /* add a smooth transition effect */
        }
        .carousel:hover .carousel-overlay {
          opacity: 1; /* show the overlay when the mouse hovers over the carousel */
        }

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-10%); /* move container 3x the width of one image */
          }
        }

      </style>
      <script>
        const carousel = document.querySelector('.carousel');
    const container = document.querySelector('.carousel-container');

    carousel.addEventListener('mouseover', () => {
      container.style.animationPlayState = 'paused'; /* pause the animation */
    });

    carousel.addEventListener('mouseout', () => {
      container.style.animationPlayState = 'running'; /* resume the animation */
    });
      </script>
      <div class="carousel ftco-animate">
        <div class="carousel-container">
          <img src="https://i.ibb.co/M68DKny/1.png" alt="Alembic|logo">
          <img src="https://i.ibb.co/b28P4y2/2.png" alt="P&G|logo">
          <img src="https://i.ibb.co/1mqNW3z/3.png" alt="TVS|logo">
          <img src="https://i.ibb.co/m6XZRhh/4.png" alt="TATA|logo">
          <img src="https://i.ibb.co/85HM6q9/5.png" alt="Aditya Birla Group|logo">
          <img src="https://i.ibb.co/jySXGWx/6.png" alt="Amazon|logo">
          <img src="https://i.ibb.co/NSC4F99/7.png" alt="Hero|logo">
          <img src="https://i.ibb.co/4MD8FyQ/8.png" alt="Nandi Toyota|logo">
          <img src="https://i.ibb.co/n6H3mV3/9.png" alt="EY|logo">
          <img src="https://i.ibb.co/F6D3dR4/10.png" alt="Central|logo">
          <img src="https://i.ibb.co/476rWJg/11.png" alt="Patanjali|logo">
          <img src="https://i.ibb.co/C8SgKKV/12.png" alt="Shoppers Stop|logo">
          <img src="https://i.ibb.co/Xyc4CLj/13.png" alt="Jio|logo">
          <img src="https://i.ibb.co/xF9WTy1/14.png" alt="Arvind|logo">
          <img src="https://i.ibb.co/M68DKny/1.png" alt="Alembic|logo">
          <img src="https://i.ibb.co/b28P4y2/2.png" alt="P&G|logo">
          <img src="https://i.ibb.co/1mqNW3z/3.png" alt="TVS|logo">
          <img src="https://i.ibb.co/m6XZRhh/4.png" alt="TATA|logo">
          <img src="https://i.ibb.co/85HM6q9/5.png" alt="Aditya Birla Group|logo">
          <img src="https://i.ibb.co/jySXGWx/6.png" alt="Amazon|logo">
          <img src="https://i.ibb.co/NSC4F99/7.png" alt="Hero|logo">
          <img src="https://i.ibb.co/4MD8FyQ/8.png" alt="Nandi Toyota|logo">
          <img src="https://i.ibb.co/n6H3mV3/9.png" alt="EY|logo">
          <img src="https://i.ibb.co/F6D3dR4/10.png" alt="Central|logo">
          <img src="https://i.ibb.co/476rWJg/11.png" alt="Patanjali|logo">
          <img src="https://i.ibb.co/C8SgKKV/12.png" alt="Shoppers Stop|logo">
          <img src="https://i.ibb.co/Xyc4CLj/13.png" alt="Jio|logo">
          <img src="https://i.ibb.co/xF9WTy1/14.png" alt="Arvind|logo">
        </div>
      </div>
    </section>


    <!-- Image Slider End -->

      <!-- Testimonial Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center mx-auto" style="max-width: 500px">
            <h1 class="display-6 mb-5">Hear from Our Students</h1>
          </div>
          <div class="row g-5">
            <div class="col-lg-3 d-none d-lg-block">
              <div class="testimonial-left h-100">
              </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="owl-carousel testimonial-carousel">
                {% for testmonial in testmonial %}


                <div class="testimonial-item text-center">
                  <img
                    class="img-fluid rounded mx-auto mb-4"
                    src="{{testmonial.img.url}}"
                    alt="Srinivas University|Institute of Port Shipping and Supply Chain Management|logo"
                  />
                  <p class="fs-5">
                    {{testmonial.dis}}
                  </p>
                  <h5>{{testmonial.name}}</h5>
                  <span>{{testmonial.Profession}}</span>
                </div>


                {% endfor %}
              </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
              <div class="testimonial-right h-100">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->



      {% endblock content %}