{% load static %}
    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5"
    >
      <a href="/" class="navbar-brand d-flex align-items-center">
          <img class="img-fluid me-3" src="{% static 'img\logo\Srinivas University IPSSM Logo.png' %}" alt="Srinivas University | Institute of Port Shipping and Supply Chain Management | Logo" />
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
          <a href="/" class="nav-item nav-link ">Home</a>
          <div class="nav-item dropdown">
            <p
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >About Us</p>
            <div class="dropdown-menu bg-light border-0 m-0">
              <a href="aboutipssm" class="dropdown-item">About IPSSM</a>
              <a href="aboutsrinivas" class="dropdown-item">About Srinivas University</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <p
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Our Programs</p>
            <div class="dropdown-menu bg-light border-0 m-0">
              <a href="BBA-Port-Shipping-Management-&-Logistics" class="dropdown-item">BBA - Port Shipping Management and Logistics</a>
              <a href="BBA-Logistics-&-Supply-Chain-Management" class="dropdown-item">BBA - Logistics and Supply Chain Management</a>
              <a href="MBA-Logistics-&-Supply-chain-Management" class="dropdown-item">MBA - Logistics and Supply chain Management</a>
            </div>
          </div>

          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >More</a
            >
            <div class="dropdown-menu bg-light border-0 m-0">
            <a href="gallery" class="dropdown-item">Gallery</a>
            <a href="events" class="dropdown-item">News & Events</a>
              <a href="faculty" class="dropdown-item">Faculty</a>
              <a href="placement" class="dropdown-item">Placements & Internships</a>
              <a href="Faculty-Achivements" class="dropdown-item">Faculty Achievements</a>
              <a href="Student-Achivements" class="dropdown-item">Student Achievements</a>


              <a href="http://103.167.211.212/sulibrary/" class="dropdown-item">Digital Library</a>
            </div>
          </div>
          <a href="contact" class="nav-item nav-link">Contact Us</a>
        </div>
      </div>
      <a href="#apply-now" class="btn btn-primary px-3 d-none d-lg-block">Apply Now</a>
    </nav>
    <!-- Navbar End -->